.cars-list {
  display: inline-block;
  .cars-item {
    height: 257px;
    width: 506px;
    padding: 30px 30px 0;
    border-radius: 24px;
    background-color: $color-white;
    @include webkit(box-shadow, 0 0 18px 0 $color-shadow-2);
    @include webkit(box-sizing, border-box);
    // 头部
    header {
      @extend %clearfix;

      .cars-logo {
        float: left;
        height: 34px;

        img {
          display: inline-block;
          height: 34px;
          margin-right: 10px;
          vertical-align: middle;
        } 

        span { font-size: $f16; }
      }

      .cars-name {
        float: right;
        line-height: 34px;
        opacity: .5;
      }
    }

    // 内容
    .cars-content {
      display: flex;
      align-items: center;
      height: 140px;
      // 车辆信息
      .cars-info {
        h4 {
          font-size: $f18;
          text-align: left;
          margin-bottom: 6px;
        }

        section {
          display: flex;

          .cars-electric {
            li {
              display: inline-block;
              width: 7px;
              height: 24px;
              margin-right: 3px;
              border-radius: 100px;
              background-color: $color-border1;
            }
            // 根据类名后缀的数字决定多少格电
            @for $i from 1 through 10 {
              &.active-li-#{$i}{
                  li:nth-child(-n+#{$i}) { @include webkitA(background, linear-gradient(#17a8fa, $color-main-blur)); }
              }
            }
          }
  
          .cars-distance {
            font-size: $f22;
            font-weight: 700;

            span {
              font-size: $f14;
              font-weight: 400;
              margin: 0 4px;

              &:first-child {
                opacity: .6;
              }
            }
          }
        }
      }
      // 车图片
      img {
        height: 120px;
      }
    }

    // 底部
    footer {
      .parking-link {
        display: block;
        position: relative;
        color: $color-main;
        text-align: left;
        line-height: 48px;
        opacity: .8;
        border-top: 1px solid $color-border1;
        
        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          width: 8px;
          height: 8px;
          margin-top: -8px;
          border-top: 1px solid $color-border2;
          border-right: 1px solid $color-border2;
          @include webkit(transform, rotate(45deg));
        }
      }
    }
  }

  .cars-detailed {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;

    .scroll { 
      height: 100%;
      overflow-y: auto;
    }

    .column {
      position: relative;
      padding: 26px 0 20px;
      margin-bottom: 19px;
      font-size: 20px;
      color: $color-main;
      border-bottom: 1px solid $border-color2;

      .close {
        position: absolute;
        right: 0;
        top: 25px;
        display: block;
        width: 26px;
        height: 26px;
        cursor: pointer;

        &:before, &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          height: 20px;
          margin-left: -1px;
          margin-top: -10px;
          border-left: 2px solid #999c9f;
        }

        &:before { @include webkit(transform, rotate(45deg)); }
        &:after { @include webkit(transform, rotate(-45deg)); }
      }
    }

    .cars-electric-box {
      padding: 15px;
      margin-top: 17px;
      border-radius: 100px;
      background-color: $color-white;
      @include webkit(box-shadow, 0 0 10px 0 $color-shadow);

      .e-bg {
        display: block;
        height: 8px;
        background-color: $border-color2;
        border-radius: 100px;
      }

      .e-high {
        position: absolute;
        left: 0;
        top: 0;
        background-color: $color-main-blur;
        height: 100%;
        border-radius: 100px;
      }
    }

    .info {
      margin: 32px 0 28px;
    }

    .select-car-btn {
      position: absolute;
      left: 50%;
      margin-left: -120px;
      bottom: -42px;
    }

    .cars-type-list {
      li {
        height: 43px;
        padding: 0 17px 0 20px;
        margin-bottom: 15px;
        background-color: $border-color;
        border-color: $border-color;
        border-style: solid;
        border-width: 2px;
        border-radius: 10px;
        font-size: 16px;
        line-height: 43px;

        &.current {
          border-color: $color-main-blur;
        }
      }
  }

  .clause-dec {
      @extend %clearfix;

      i {
        float: right;
        width: 20px;
        height: 20px;
        border-radius: 100px;
        background-color: #cccccc;

        &.current { background-color: $color-main; }

        &:before {
          content: "";
          display: block;
          width: 8px;
          height: 4px;
          margin: 6px 0 0 5px;
          border-left: 2px solid $color-white;
          border-bottom: 2px solid $color-white;
          @include webkit(transform, rotate(-45deg));
        }
      }
    }
  }
}